{% extends "base.html" %}
{% block nav %}
    {% if request.user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url "webapp:create_album" %}">Создание альбома</a>
        </li>
        {% if perms.webapp.change_album or user == album.user %}
            <li class="nav-item">
                <a class="nav-link" href="{% url "webapp:update_album" album.pk %}">Редактировать</a>
            </li>
        {% endif %}
        {#        <li class="nav-item">#}
        {#            <a class="nav-link" href="{% url "webapp:album_comment_create" album.pk %}">Добавить коммент</a>#}
        {#        </li>#}

        <li class="nav-item">
            {#            <a class="nav-link" type="button" data-toggle="modal" data-target="#albumDeleteModal">Удалить</a>#}
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#albumDeleteModal">
                Удалить
            </button>
        </li>

    {% endif %}
{% endblock %}

{% block content %}
    <div class="card mt-3">
        <div class="card-body text-center">
            <h3>{{ album }}</h3>
            <h6 class="card-subtitle mb-2 text-muted">Автор: {{ album.user }}</h6>
            <p class="card-text">{{ album.description }}</p>
            {#            {% if request.user.is_authenticated %}#}
            {#                <a data-album-id="album-{{ album.id }}" class="likes" href="{% url 'webapp:likes' album.pk %}">#}
            {#                    {% if request.user in album.likes.all %}Дизлайк{% else %} Лайк {% endif %}#}
            {#                </a>#}
            {#            {% endif %}#}
            {% include "partial/photos_list_partial.html" %}
        </div>
    </div>
    {#    <h3 class="my-3 text-center">Комментарии</h3>#}
    {#    <div class="row">#}
    {#        {% for comment in comments %}#}
    {#            <div class="col-12 col-md-6 col-lg-4">#}
    {#                <div class="card mb-3">#}
    {#                    <div class="card-body">#}
    {#                        <p class="card-text">{{ comment.text }}</p>#}
    {#                    </div>#}
    {#                    <div class="btn-group w-100" role="group" aria-label="Basic mixed styles example">#}
    {#                        <a class="btn btn-danger" href="{% url "webapp:update_comment" comment.pk %}">Изменить</a>#}
    {#                        <a class="btn btn-warning" href="{% url "webapp:delete_comment" comment.pk %}">Удалить</a>#}
    {#                    </div>#}
    {#                    {% if request.user.is_authenticated %}#}
    {#                        <a data-comment-id="comment-{{ comment.id }}" class="commentlikes"#}
    {#                           href="{% url 'webapp:commentlikes' comment.pk %}">#}
    {#                            {% if request.user in comment.commentlikes.all %}Дизлайк{% else %} Лайк {% endif %}#}
    {#                        </a>#}
    {#                    {% endif %}#}
    {#                    <span id="comment-{{ comment.id }}">Лайки: {{ comment.commentlikes.count }}</span>#}
    {#                </div>#}
    {#            </div>#}
    {#            {% empty %}#}
    {#            <p>Комментариев нет</p>#}
    {#        {% endfor %}#}
    {#    </div>#}

    <a href="{% url "webapp:index" %}">На главную</a>

    <!-- Модальное окно -->
    <div class="modal fade" id="albumDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Заголовок модального окна</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    Вы уверены что хотите удалить фотографию?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                     <form action="{% url "webapp:delete_album" album.pk %}" method="post">
                        {% csrf_token %}
                         <input type="hidden" value="{{ album.pk }}">
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
